*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

/* Главная страница */

.logo{
    text-align: center;
    display: flex;
}

.logo_img{
    width: 200px;
}

.container{
    display: flex;
    padding-top: 20px;
    justify-content: center;
    height: 100vh;
    width: 100px;
}

.menu_img{
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
    margin-bottom: 15px;
    max-width: 436px;
}

.block_img{
    border-radius: 20px;
    width: 90%;
}

.block_menu{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding-top: 20px;
    left: 0;
    top: 100px;
    width: 100%;
    height: 100%;
    border-radius: 40px;
}

.text_menu{
    position: absolute;
    text-align: center;
    top: 15px;
    padding-inline: 20px;
    color: white;
    font-size: 60px;
    font-family: "Montserrat", sans-serif;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

/* Еда в меню */

.scroll-container {
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-snap-type: y mandatory;
}

.screen {
    display: flex;
    position: relative;
    overflow: hidden;
    height: 100vh;
    scroll-snap-align: start;
    align-items: end;
    justify-content: center;
    font-size: 2rem;
}

.food {
    height: 100%;
}

.scroll-container .screen .toggle {
    display: none;
}

#toggle_id {
    position: absolute;
    z-index: 12;
    width: 420px;
    height: 420px;
    top: -140px;
    left: -150px;
    border-radius: 50%;
    cursor: pointer;
}

.product-name {
    transition: all 0.5s ease;
    position: absolute;
    background-color: #8094567c;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 5;
    width: 420px;
    height: 420px;
    /* transform: translate(100px, 220px); */
    top: -140px;
    left: -150px;
    border-radius: 50%;
}

.product-border {
    transition: all 0.5s ease;
    position: absolute;
    background-color: rgb(255, 253, 135);
    z-index: 4;
    width: 428px;
    height: 428px;
    /* transform: translate(90px, 220px); */
    top: -140px;
    left: -145px;
    border-radius: 50%;
}

.background {
    transition: all 0.5s ease;
    z-index: 9;
    position: absolute;
    background-color: rgb(247, 249, 204);
    right: -180px;
    bottom: -180px;
    border-radius: 50%;
    width: 400px;
    height: 380px;
}

.product-font {
    transition: all 0.5s ease;
    margin: 214px 58px 33px 216px;
    font-size: 42px;
    color: rgb(255, 255, 255);
    text-shadow: -1px 0 rgb(50, 50, 50), 0 1px rgb(50, 50, 50), 1px 0 rgb(50, 50, 50), 0 -1px rgb(50, 50, 50);
}

.ingredients {
    z-index: 1000;
    transition: all 0.5s 
ease;
    color: black;
    opacity: 0;
    transform: translateX(50px);
}

.svg-container {
    display: flex;
    position: absolute;
    height: 60px;
    top: 90px;
    left: 30px;
}

.price {
    /* display: flex; */
    margin: 0 !important;
    justify-content: center;
    align-items: center;
    /* position: absolute; */
    font-family: sans-serif;
    color: #272727;
    font-size: 50px;
    font-weight: 1000;
    top: 20px;
    left: 60px;
}

.currency {
    font-size: 20px;
    top: 70px;
    left: 50px;
    align-content: end;
}

.scroll-container .screen .toggle:checked~.product-name .ingredients {
    margin: 30px 80px -20px 22px;
    z-index: 1000;
    font-size: 25px;
    opacity: 1;
}

.scroll-container .screen .toggle:checked~.product-border {
    opacity: 0;
    width: 100%;
    height: 100%;
    border-radius: 0;
    top: 0;
    left: 0;
}

.scroll-container .screen .toggle:checked~.product-name .product-font {
    margin: 40px 50px 0px 50px;
}


.scroll-container .screen .toggle:checked+label+.product-name {
    transition: all 0.5s ease;
    width: 100vw;
    height: 100vh;
    border-radius: 0;
    top: 0;
    left: 0;
    z-index: 10;
}

  .toggle:checked ~ .product-border {
    opacity: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 0;
}


  .close-overlay {
    display: none;              
    position: fixed;           
    inset: 0;                
    z-index: 20;
    cursor: default;
    background: rgba(0,0,0,0);  
}

  .toggle:checked ~ .close-overlay {
    display: block;
}

.back-btn {
    position: fixed;
    bottom: 20px; 
    left: 20px;   
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: none;
    background: rgba(0, 0, 0, 0.4);
    cursor: pointer;
    z-index: 30;
    backdrop-filter: blur(4px);
}

.back-btn::before {
    content: "←";
    font-size: 30px;
    font-weight: 600;
    color: white;
    position: absolute;
    top: 47%;
    left: 52%;
    transform: translate(-50%, -50%);
}


/* Пульсация круга */

.product-name {
    animation: pulseCircle 2s infinite ease-in-out;
    will-change: transform;
    transform: translateZ(0);
}

@keyframes pulseCircle {
    0%   { transform: scale(1); }
    50%  { transform: scale(1.04); }
    100% { transform: scale(1); }
}

.scroll-container .screen .toggle:checked ~ .product-name {
    animation: none !important;
}



/* 1. */
/* Загрузка крутится по своей оси */

.preloader {
    position: fixed;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white; /* или любой ваш фон */
    z-index: 9999;
}

.loading .logo_img {
    width: 200px;
    animation: spin 2.5s linear infinite;
}

@keyframes spin {
    from { transform: rotateY(0deg); }
    to   { transform: rotateY(360deg); }
}

.preloader.hide {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.6s ease;
}

/* 2. */
/* Загрузка по кругу */

/* .loading .logo_img {
    width: 200px;
    animation: spinRight 3s linear infinite;  
} */

/* @keyframes spinRight {
    from { transform: rotate(0deg); }
    to   { transform: rotate(360deg); }
} */

/* .preloader {
    position: fixed;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    z-index: 9999;
} */


/* .preloader.hide {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.6s ease;
} */