*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

/* Главная страница */

.body{
    background-image: url(img/back2.webp);
    background-repeat: no-repeat;
    background-position: center top;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-size: 2000px 9000px;
}

.logo{
    text-align: center;
    display: flex;
}

.logo_img{
    width: 200px;
}

.container {
    display: flex;
    padding-top: 20px;
    justify-content: center;
    width: 100%;
    padding-bottom: 50px; 
}

.block_menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    width: 100%;
}

.menu_img{
    position: relative;
    width: 340px;           
    height: 500px;
    overflow: hidden;
    border-radius: 20px;
    margin-bottom: 20px;
}

.block_img{
    width: 100%;            
    height: 100%;           
    object-fit: cover;     
    object-position: center;
    border-radius: 20px;
}

/* .block_menu{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    left: 0;
    top: 100px;
    width: 100%;
    height: 100%;
    border-radius: 40px;
} */

.text_menu{
    width: 100%;
    white-space: normal;     
    word-wrap: break-word;    
    overflow-wrap: break-word;
    box-sizing: border-box; 
    position: absolute;
    text-align: center;
    top: 15px;
    padding-inline: 20px;
    color: white;
    font-size: 60px;
    font-family: "Aladin", system-ui;
    text-shadow: 4px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

/* Еда в меню */

.scroll-container {
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-snap-type: y mandatory;
}

.screen {
    display: flex;
    position: relative;
    overflow: hidden;
    height: 100vh;
    scroll-snap-align: start;
    align-items: end;
    justify-content: center;
    font-size: 2rem;
}

.food {
    height: 100%;
}

.scroll-container .screen .toggle {
    display: none;
}

#toggle_id {
    position: absolute;
    z-index: 12;
    border-radius: 50%;
    cursor: pointer;
}

.product-name {
    text-align: center;
    transition: all 0.5s ease;
    position: absolute;
    font-family: "Aladin", system-ui;
    z-index: 5;
    height: 420px;
    /* transform: translate(100px, 220px); */
    top: -140px;
    left: -150px;
    border-radius: 50%;
}


.background {
    border-radius: 500px 500px 0px 0px;
    text-align: center;
    transition: all 0.5s ease;
    z-index: 9;
    position: absolute;
    background-color: rgb(79 78 78 / 70%);
    width: 543px;
    height: 153px;
}

.product-font {
    transition: all 0.5s ease;
    margin: 280px 58px 33px 216px;
    font-size: 42px;
    color: rgb(255, 255, 255);
    text-shadow: -1px 0 rgb(50, 50, 50), 0 1px rgb(50, 50, 50), 1px 0 rgb(50, 50, 50), 0 -1px rgb(50, 50, 50);
}

.ingredients {
    z-index: 1000;
    transition: all 0.5s ease;
    color: black;
    opacity: 0;
    transform: translateX(50px);
}

.svg-container {
    text-align: center;
    display: flex;
    position: absolute;
    height: 60px;
    top: 29px;
    left: 213px;
}

.price {
    color: rgb(255, 255, 255);
    text-shadow: -1px 0 rgb(50, 50, 50), 0 1px rgb(50, 50, 50), 1px 0 rgb(50, 50, 50), 0 -1px rgb(50, 50, 50);
    /* display: flex; */
    margin: 0 !important;
    justify-content: center;
    align-items: center;
    /* position: absolute; */
    font-family: "Aladin", system-ui;
    /* color: #dddddd; */
    font-size: 50px;
    font-weight: 1000;
    top: 20px;
    left: 60px;
}

.currency {
    font-size: 20px;
    top: 70px;
    left: 50px;
    align-content: end;
}

.scroll-container .screen .toggle:checked~.product-name .ingredients {
    margin: 30px 80px -20px 22px;
    z-index: 1000;
    font-size: 25px;
    opacity: 1;
    text-align: left;
}

.scroll-container .screen .toggle:checked~.product-border {
    opacity: 0;
    width: 100%;
    height: 100%;
    border-radius: 0;
    top: 0;
    left: 0;
}

.scroll-container .screen .toggle:checked~.product-name .product-font {
    text-align: left;
    width: 154px;
    left: 8px;
    margin: 39px 220px 0px 50px;
}


.scroll-container .screen .toggle:checked+label+.product-name {
    transition: all 0.5s ease;
    height: 100vh;
    border-radius: 0;
    top: 100px;
    left: 0;
    z-index: 10;
}

  .toggle:checked ~ .product-border {
    opacity: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 0;
}


.close-overlay {
    display: none;              
    position: fixed;           
    inset: 0;                
    z-index: 20;
    cursor: default;
    background: rgba(0,0,0,0);  
}

.toggle:checked ~ .close-overlay {
    display: block;

}

.back-btn {
    position: fixed;
    top: 4px;
    left: 8px;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: none;
    background: rgba(0, 0, 0, 0.4);
    cursor: pointer;
    z-index: 30;
    backdrop-filter: blur(4px);
}

.back-btn::before {
    content: "←";
    font-size: 30px;
    font-weight: 600;
    color: white;
    position: absolute;
    top: 47%;
    left: 52%;
    transform: translate(-50%, -50%);
}


@keyframes rotate-shake-pause {
    0%   { transform: rotate(0deg); }
    8%   { transform: rotate(18deg); }   /* резче вправо */
    16%  { transform: rotate(0deg); }
    24%  { transform: rotate(-18deg); }  /* резче влево */
    32%  { transform: rotate(0deg); }

    /* пауза */
    100% { transform: rotate(0deg); }
}

.icon {
    position: absolute;
    top: -6px;
    right: 14px;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    z-index: 30;

    animation: rotate-shake-pause 1.3s infinite ease-in-out;
}
.food {
  transition: filter 1.3s ease;
}

.food.blurred {
  filter: blur(6px);
}






/* 1. */
/* Загрузка крутится по своей оси */

.preloader {
    position: fixed;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white; /* или любой ваш фон */
    z-index: 9999;
}

.loading .logo_img {
    width: 200px;
    animation: spin 2.5s linear infinite;
}

@keyframes spin {
    from { transform: rotateY(0deg); }
    to   { transform: rotateY(360deg); }
}

.preloader.hide {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.6s ease;
}

/* 2. */
/* Загрузка по кругу */

/* .loading .logo_img {
    width: 200px;
    animation: spinRight 3s linear infinite;  
} */

/* @keyframes spinRight {
    from { transform: rotate(0deg); }
    to   { transform: rotate(360deg); }
} */

/* .preloader {
    position: fixed;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    z-index: 9999;
} */


/* .preloader.hide {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.6s ease;
} */



.mobi-menu-page {
    width: 100%;
    display: flex;
    flex-direction: row;
    font-family: "Montserrat", sans-serif;
    background: #f2efed;
    color: #2d2d2d;
}

/* Левая картинка */
.mobi-left-image {
    position: relative;
    width: 53%;
    height: 100vh; /* картинка всегда на всю высоту */
    overflow: hidden;
}

.mobi-left-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Текст на изображении */
.mobi-cafe-title {
    position: absolute;
    bottom: 27px;
    left: 26px;
    color: white;
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 2px;
    text-shadow: 0 0 5px black;
}

/* Правый блок — меню */
.mobi-right-block {
    width: 72%;
    padding: 16px 18px 16px;
}




/* Заголовки */
.mobi-section h2 {
    font-size: 20px;
    margin-top: 10px;
    font-weight: 700;
    margin-bottom: 10px;
    letter-spacing: 4px;
}

/* Пункты меню */
.mobi-item {
    display: flex;
    justify-content: space-between;
    padding: 6px 0;
    font-size: 16px;
}

.mobi-item span{
    margin: 0;
}

.mobi-item b {
    font-weight: 700;
    margin: 0;
}

/* Мобильная адаптация */
@media (max-width: 480px) {
    .mobi-section h2 {
        font-size: 18px;
    }

    .mobi-item {
        font-size: 15px;
    }
}

@media (max-width: 320px) {
    .mobi-left-image img {
    width: 103%;
    height: 990px;
    }
}




.footer {
    width: 100%;
    margin-top: auto;  
    text-align: center;
    padding: 20px;
    background: rgba(32, 32, 32, 0.836);
    color: white;
    backdrop-filter: blur(5px);
}

.phone{
    font-size: 16px;
    text-decoration: none;
    color: white;
}

.contacts{
    margin-top: 18px;
    display: flex;
    font-family: "Aladin", system-ui;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}



.lang-btn {
    position: absolute;
    top: 13px;
    left: 8px;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: none;
    background: rgba(0, 0, 0, 0.4);
    cursor: pointer;
    z-index: 30;
    backdrop-filter: blur(4px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 16px;
    font-weight: 600;
}

.lang-btn .arrow {
    font-size: 12px;
    opacity: 0.8;
    margin-top: 2px;
}

/* Выпадающее меню */
.lang-menu {
    position: fixed;
    top: 65px; 
    left: 10px;
    width: 70px;
    background: rgba(0,0,0,0.45);
    backdrop-filter: blur(4px);
    border-radius: 12px;
    padding: 6px 0;
    display: none;
    flex-direction: column;
    z-index: 31;
}

.lang-menu div {
    padding: 8px 0;
    text-align: center;
    color: white;
    cursor: pointer;
    transition: 0.2s;
    font-weight: 600;
    font-family: "Aladin", system-ui;
}

.lang-menu div:hover {
    background: rgba(255,255,255,0.15);
}

#langText{
    font-family: "Aladin", system-ui;
}

